.navbar-container {
	width: calc(100vw - 30px);
	margin: 0 auto;
	padding: 40px;
	position: absolute;
	z-index: 3;
}
.mr-auto {
	text-align: right;
}
.navbar-toggler-icon {
	color: white;
}
.burguer-icon {
	color: white;
}
.navbar-collapse {
	position: absolute;
	right: 0;
	padding: 0px;
}

.navbar-transparent {
	color: white;
	background-color: rgba(110, 55, 55, 0) !important;
	a {
		color: white;
	}
	position: relative;
	width: 100%;
	padding-left: 40px;
	padding-right: 0px;
}

#navbar-logo {
	line-height: 1.2;
	font-weight: 100;
	font-style: italic;
}

@media (max-width: 990px) {
	.navbar-collapse {
		top: 65px;
	}
}
@media (max-width: 600px) {
	.navbar-collapse {
		top: 65px;
	}
	.navbar-container {
		padding: 10px;
	}
}
