.carousel-control-next-icon {
}

.carousel-prev {
	font-size: 60px;
	padding: 10px;
	border: 2px solid white;
}

.carousel-next {
	font-size: 60px;
	padding: 10px;
	border: 2px solid white;
}
.svg-inline--fa.fa-w-10 {
	width: 60px;
}
